#DONATEBOOK{
POSITION:ABSOLUTE;
LEFT:470PX;
HEIGHT:1185PX;
WIDTH:695PX;
TOP:100PX;
padding:4px;
margin:20px;
BACKGROUND-COLOR:#F5F6CE;
BORDER:2PX SOLID BLACK;
}
#ABOUTBOOKDONATE{
position:absolute;
TOP:385PX;
LEFT:75PX;
}
#ADDRESSDONATE{
position:absolute;
WIDTH:400PX;
TOP:970PX;
LEFT:72PX;
}