#form{
background-color:#F7FE2E;
WIDTH:400PX;
height:200px;
position:absolute;
top:300px;
right:500px;
BORDER:2PX SOLID BLACK;
}
#1{
background-color:#F7FE2E;
WIDTH:400PX;
height:200px;
position:absolute;
top:600px;
right:500px;
BORDER:2PX SOLID BLACK;
}