 #ADDBOOK{
POSITION:ABSOLUTE;
LEFT:470PX;
HEIGHT:1370PX;
WIDTH:695PX;
TOP:100PX;
padding:4px;
margin:20px;
BACKGROUND-COLOR:#F5F6CE;
BORDER:2PX SOLID BLACK;
}
 
 #FIRST1{
position:absolute;
TOP:100PX;
WIDTH:800PX;
HEIGHT:1200PX;
LEFT:300PX;
BACKGROUND-COLOR:#E6E6E6;
BORDER:2PX SOLID #A9F5F2;
}
#ABOUTBOOK{
position:absolute;
TOP:385PX;
LEFT:72PX;
}
#ADDRESS{
position:absolute;
WIDTH:400PX;
TOP:960PX;
LEFT:70PX;
}
#PHOTOUPLODE1{
position:absolute;
LEFT:400PX;
TOP:200PX;
WIDTH:400PX;
HEIGHT:200PX;
BACKGROUND-COLOR:#CEF6F5;
BORDER:2PX SOLID BLACK;
}
#TYPE{
position: absolute;
TOP:95px;
LEFT:680PX;
HEIGHT:40PX;
PADDING:10PX;
BACKGROUND-COLOR:#81F7F3;
BORDER:2PX SOLID BLACK;
}